*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  height: 100vh;
}

.two-row-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: 100%;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-content h1 {
  font-size: 3rem;
  color: gray;
}

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-wrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wave-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-button-link {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: white;
  border-radius: 0.25em;
  box-shadow: 6px 8px 10px 0px #00000063;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .bottom-content {
    background-image: none !important;
    background-color: hsl(232deg 93% 68%);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
